/* common */
@font-face {
    font-family: 'Montserrat';
    src: url('font/montserrat/Montserrat-Regular.otf');
}
@font-face {
    font-family: 'Montserrat-UltraLight';
    src: url('font/montserrat/Montserrat-UltraLight.otf');
}
@font-face {
    font-family: 'Montserrat-Bold';
    src: url('font/montserrat/Montserrat-Bold.otf');
}
@font-face {
    font-family: 'Montserrat-Light';
    src: url('font/montserrat/Montserrat-Light.otf');
}
@font-face {
    font-family: 'Montserrat-Black';
    src: url('font/montserrat/Montserrat-Black.otf');
}
.blue{
	color:#4ABDAC;
}
.bgblue{
	background-color:#4ABDAC;
}
.hvr-underline-from-left{
	display:inline-block;
	vertical-align:middle;
	-webkit-transform:perspective(1px) translateZ(0);
	transform:perspective(1px) translateZ(0);
	box-shadow:0 0 1px transparent;
	position:relative;
	overflow:hidden
}
.hvr-underline-from-left:before{
	content:"";
	position:absolute;
	z-index:-1;
	left:0;
	right:100%;
	bottom:0;
	background:#FFF;
	height:3px;
	-webkit-transition-property:right;
	transition-property:right;
	-webkit-transition-duration:.3s;transition-duration:.3s;
	-webkit-transition-timing-function:ease-out;
	transition-timing-function:ease-out
}
.hvr-underline-from-left:active:before,
.hvr-underline-from-left:focus:before,
.hvr-underline-from-left:hover:before{
	right:0
}
.hvr-underline-from-left-orange{
	display:inline-block;
	vertical-align:middle;
	-webkit-transform:perspective(1px) translateZ(0);
	transform:perspective(1px) translateZ(0);
	box-shadow:0 0 1px transparent;
	position:relative;
	overflow:hidden
}
.hvr-underline-from-left-orange:before{
	content:"";
	position:absolute;
	z-index:-1;
	left:0;
	right:100%;
	bottom:0;
	background:#FC4A1A;
	height:2px;
	-webkit-transition-property:right;
	transition-property:right;
	-webkit-transition-duration:.3s;transition-duration:.3s;
	-webkit-transition-timing-function:ease-out;
	transition-timing-function:ease-out
}
.hvr-underline-from-left-orange:active:before,
.hvr-underline-from-left-orange:focus:before,
.hvr-underline-from-left-orange:hover:before{
	right:0
}
.hvr-underline-from-left-blue{
	display:inline-block;
	vertical-align:middle;
	-webkit-transform:perspective(1px) translateZ(0);
	transform:perspective(1px) translateZ(0);
	box-shadow:0 0 1px transparent;
	position:relative;
	overflow:hidden
}
.hvr-underline-from-left-blue:before{
	content:"";
	position:absolute;
	z-index:-1;
	left:0;
	right:100%;
	bottom:0;
	background:#4ABDAC;
	height:2px;
	-webkit-transition-property:right;
	transition-property:right;
	-webkit-transition-duration:.3s;transition-duration:.3s;
	-webkit-transition-timing-function:ease-out;
	transition-timing-function:ease-out
}
.hvr-underline-from-left-blue:active:before,
.hvr-underline-from-left-blue:focus:before,
.hvr-underline-from-left-blue:hover:before{
	right:0
}
@keyframes float{
	0% {transform: translate(0, 0px); }
    40% {transform: translate(0, 10px); }
    50% {transform: translate(0, 10px); }
    90% {transform: translate(0, 0px); }
    100% {transform: translate(0, 0px); }
}
@keyframes move1{
	0% {transform: translate(0, 0px); }
    40% {transform: translate(-30px, 0px); }
    50% {transform: translate(-30px, 0px); }
    90% {transform: translate(0px, 0px); }
    100% {transform: translate(0, 0px); }
}
.floatleft{
	float:left;
}

/* header */
#window,
#hand,
#header-logo,
.cloud-big,
.cloud-mid,
.cloud-sml{
	position:absolute;
}
#window{
	right:0;
	bottom:0;
	z-index:30;
}
#hand{
	left:4%;
	top:5%;
}
.cloud-big{
	width:189px;
	height:94px;
}
.cloud-mid{
	width:145px;
	height:73px;
}
.cloud-sml{
	width:105px;
	height:54px;
}
#header-container{
	position:relative;
}
#cloud-header-1{
	-webkit-animation:move1 15s infinite ease-in-out;
	top:45px;
	left:94%;
}
#cloud-header-2{
	-webkit-animation:float 7s infinite ease-in-out;
	top:34px;
	left:58%;
}
#cloud-header-3{
	-webkit-animation:move1 10s infinite ease-in-out;
	top:185px;
	left:39%;
}
#header-logo{
	top:calc(50% - 71px); 
	left:30px;
	z-index:99;
}
#loginblock{
	position: absolute;
	top: 27px;
	right: 30px;
	color: #FFF;
}
#loginblock a{
	margin:0 8px;
	padding: 5px 0;
	color: #FFF;
	text-decoration: none;
	font-family: Montserrat-Light;
	font-size: 16px;
	line-height: 24px;
}
#shopping-bag{
	position:relative;
	background: url('../images/new/shopping-bag.png') left no-repeat;
	width:21px;
	height:22px;
	color: #4A4A4A;
	font-family: Montserrat-Bold;
	font-size: 10px;
	line-height: 28px;
	text-align: center;
	padding-right:5px;
}
#our-product{
	width: 282px;
	height: 70px;
	padding:0 30px;
	font-family: Montserrat-Light;
	font-size: 20px;
	line-height:70px;
	background-color: #4A4A4A;
	position:absolute;
	bottom:0px;
	border-top: solid 12px #4A4A4A;
	z-index: 10;
}
#after-out-product{
	width:30px;
	height:70px;
	background-color: #E8E8E8;
	position: absolute;
	bottom:0px;
	left:342px;
}
#search-icon{
	position:absolute;
	bottom: 23px;
	left:295px;
	cursor: pointer;
	z-index: 15;
}
#search-div{
	transition: all .5s ease-in-out;
	position:absolute;
	bottom: 0px;
	left:78px;
	width:224px;
	height:30px;
	padding:20px;
	background-color: #656365;
	z-index:5;
}
#search-div input{
	width:100%;
	height:30px;
	background-color: #656365;
	color: #fff;
	border-width: 0 0 1px 0;
	border-color: #fff;
	font-family: Montserrat-Ultralight;
	font-size: 14px;
}
#search-div input::-webkit-input-placeholder{
	color:#fff;
	letter-spacing: 1.5px;
}
/* left container*/
#leftcontainer-bg{
	width:342px;
	border-left: solid 30px #EFEFEF;
	float:left;
	background: linear-gradient(to bottom, #E8E8E8, #EFEFEF);
}
#left-menu-line{
	width: 289px;
	margin:18px 0px 18px 22px;
	border-bottom: 1px solid #9B9B9B;
}
#left-cart{
	position:absolute;
	top: -127px;
	left:3%;
}
/* footer */
#footet-contact-last{
	padding-right: 0px !important;
}
#footet-contact{
	max-width:834px;
	margin:0 auto;
	height: 110px;
	border-bottom: 1px solid #979797;
}
#footet-contact div{
	float:left;
	padding: 42px 0;
}
#footet-contact img{
	height:24px;
	padding-right: 10px;
	position:relative;
	top: 3px;
}
#footet-contact span{
	padding-right: 34px;
	font-family: Montserrat;
	font-size: 14px;
	color: #EFEFEF;
}
.footer-ads{
	position:relative;
	top:-40px;
}

/* login and register  */
.login-tab{
	width:296px;
	height:107px;
	float:left;
	font-size: 24px;
	line-height: 107px;
	text-align: center;
}
.login-tab-active{
	color: #4ABDAC;
}
.login-tab-inactive{
	color: #fff;
	background-color: #E8E8E8;
}
.login-logo{
	position: absolute;
	top:14px;
}
.login-div{
	position: relative;
	text-align: center;
	margin:50px auto;
}
#login-eye{
	position: absolute;
	top:19px;
	margin-left:-40px;
}
#forget-password{
	text-align: center;
	margin-top:15px;
}
#forget-password a{
	font-family: Montserrat-Ultralight;
	font-size: 14px;
	color:#4A4A4A;
	letter-spacing: .6px;
	text-decoration: none;
}
#forget-password a:hover{
	color: #4ABDAC;
}
.notification-p{
	font-size: 14px;
	text-align: center;
	line-height: 20px;
}
/* shoppong cart*/
#cart{
	padding: 0 30px;
}
.cart-title{
	font-size: 14px;
	font-family: Montserrat;
	margin-bottom: 5px;
}
.cart-des{
	font-family: Montserrat-Light;
	font-size: 12px;
	position: relative;
	top:5px;
}
.cart-delete{
	height:22px;
	width:82px;
	border:1px solid #4A4A4A;
	position:absolute;
	bottom: 20px;
	right:0px;
	color:#4A4A4A;
	line-height: 22px;
	text-align: center;
	transition: all .3s linear;
	font-size: 12px;
}
#cart-summary{
	width:178px;
	height:270px;
	background-color: #E8E8E8;
	padding:10px 15px 10px 15px;
	margin-left:548px;
	position: relative;
}
#summary-title{
	border-bottom: 1px solid #4A4A4A;
	line-height: 32px;
}
#shopping-checkout,
#shopping-browse{
	border: 1px solid;
	font-family: Montserrat;
	text-align: center;
	font-size: 18px;
	position: absolute;
	font-weight: normal;
	transition: all .2s linear;
}
#shopping-browse{
	width:172px;
	height:30px;
	border-color: #4A4A4A;
	color:#4A4A4A;
	bottom:52px;
	left:16px;
	line-height: 28px;
}
#shopping-browse:hover{
	border-color:#4ABDAC;
	color:#4ABDAC;
}
#shopping-checkout{
	height:32px;
	width:174px;
	border-color: #4ABDAC;
	color:#FFF;
	bottom:10px;
	left:15px;
}
#shopping-checkout:hover{
	background-color: #4A4A4A;
	border-color: #4A4A4A;
}
#checkout-lock{
	position:absolute;
	bottom:15px;
	left: 30px;
	z-index: 10;
}
#edit-cart-form{
	position: absolute;
	top:1060px;
	left:calc(50% - 175px);
}
#place-order,
#edit-cart-form input{
	transition: all 0.2s linear;
	background-color: #fff;
	color:#4ABDAC;
	border:1px solid #4ABDAC;
}
#edit-cart-form input:hover{
	color:#fff;
	background-color: #4A4A4A;
	border-color: #4A4A4A;
}
#place-order{
	position: absolute;
	top:1060px;
	left:calc(50% + 15px);
}
#place-order:hover{
	color:#fff;
	background-color: #4ABDAC;
	border-color: #4ABDAC;
}
/* product - subpage*/
#subpage-tb{
	margin:0 auto;
	padding:10px;
}
#product{
	overflow: hidden;
	padding:10px;
}
@media(max-width:1439px){
	#hand{
		width:45px;
		height:auto;
	}
}