/* common */
@font-face {
    font-family: 'Montserrat';
    src: url('font/montserrat/Montserrat-Regular.otf');
}
@font-face {
    font-family: 'Montserrat-UltraLight';
    src: url('font/montserrat/Montserrat-UltraLight.otf');
}
@font-face {
    font-family: 'Montserrat-Bold';
    src: url('font/montserrat/Montserrat-Bold.otf');
}
@font-face {
    font-family: 'Montserrat-Light';
    src: url('font/montserrat/Montserrat-Light.otf');
}
@font-face {
    font-family: 'Montserrat-Black';
    src: url('font/montserrat/Montserrat-Black.otf');
}
.blue{
	color:#4ABDAC;
}
.bgblue{
	background-color:#4ABDAC;
}
.hvr-underline-from-left{
	display:inline-block;
	vertical-align:middle;
	-webkit-transform:perspective(1px) translateZ(0);
	transform:perspective(1px) translateZ(0);
	box-shadow:0 0 1px transparent;
	position:relative;
	overflow:hidden
}
.hvr-underline-from-left:before{
	content:"";
	position:absolute;
	z-index:-1;
	left:0;
	right:100%;
	bottom:0;
	background:#FFF;
	height:3px;
	-webkit-transition-property:right;
	transition-property:right;
	-webkit-transition-duration:.3s;transition-duration:.3s;
	-webkit-transition-timing-function:ease-out;
	transition-timing-function:ease-out
}
.hvr-underline-from-left:active:before,
.hvr-underline-from-left:focus:before,
.hvr-underline-from-left:hover:before{
	right:0
}
.hvr-underline-from-left-orange{
	display:inline-block;
	vertical-align:middle;
	-webkit-transform:perspective(1px) translateZ(0);
	transform:perspective(1px) translateZ(0);
	box-shadow:0 0 1px transparent;
	position:relative;
	overflow:hidden
}
.hvr-underline-from-left-orange:before{
	content:"";
	position:absolute;
	z-index:-1;
	left:0;
	right:100%;
	bottom:0;
	background:#FC4A1A;
	height:3px;
	-webkit-transition-property:right;
	transition-property:right;
	-webkit-transition-duration:.3s;transition-duration:.3s;
	-webkit-transition-timing-function:ease-out;
	transition-timing-function:ease-out
}
.hvr-underline-from-left-orange:active:before,
.hvr-underline-from-left-orange:focus:before,
.hvr-underline-from-left-orange:hover:before{
	right:0
}
.hvr-underline-from-left-blue{
	display:inline-block;
	vertical-align:middle;
	-webkit-transform:perspective(1px) translateZ(0);
	transform:perspective(1px) translateZ(0);
	box-shadow:0 0 1px transparent;
	position:relative;
	overflow:hidden
}
.hvr-underline-from-left-blue:before{
	content:"";
	position:absolute;
	z-index:-1;
	left:0;
	right:100%;
	bottom:0;
	background:#4ABDAC;
	height:3px;
	-webkit-transition-property:right;
	transition-property:right;
	-webkit-transition-duration:.3s;transition-duration:.3s;
	-webkit-transition-timing-function:ease-out;
	transition-timing-function:ease-out
}
.hvr-underline-from-left-blue:active:before,
.hvr-underline-from-left-blue:focus:before,
.hvr-underline-from-left-blue:hover:before{
	right:0
}
@keyframes float{
	0% {transform: translate(0, 0px); }
    40% {transform: translate(0, 10px); }
    50% {transform: translate(0, 10px); }
    90% {transform: translate(0, 0px); }
    100% {transform: translate(0, 0px); }
}
@keyframes move1{
	0% {transform: translate(0, 0px); }
    40% {transform: translate(-30px, 0px); }
    50% {transform: translate(-30px, 0px); }
    90% {transform: translate(0px, 0px); }
    100% {transform: translate(0, 0px); }
}
.floatleft{
	float:left;
}

/* header */
#window,
#hand,
#header-logo,
.cloud-big,
.cloud-mid,
.cloud-sml{
	position:absolute;
}
#window{
	right:0;
	bottom:0;
	z-index:30;
}
#hand{
	left:4%;
	top:5%;
}
.cloud-big{
	width:189px;
	height:94px;
}
.cloud-mid{
	width:145px;
	height:73px;
}
.cloud-sml{
	width:105px;
	height:54px;
}
#header-container{
	position:relative;
}
#cloud-header-1{
	-webkit-animation:move1 15s infinite ease-in-out;
	top:45px;
	left:94%;
}
#cloud-header-2{
	-webkit-animation:float 7s infinite ease-in-out;
	top:34px;
	left:58%;
}
#cloud-header-3{
	-webkit-animation:move1 10s infinite ease-in-out;
	top:185px;
	left:39%;
}
#header-logo{
	top:calc(50% - 71px); 
	left:30px;
	z-index:99;
}
#loginblock{
	position: absolute;
	top: 27px;
	right: 30px;
	color: #FFF;
}
#loginblock a{
	margin:0 8px;
	padding: 5px 0;
	color: #FFF;
	text-decoration: none;
	font-family: Montserrat-Light;
	font-size: 16px;
	line-height: 24px;
}
#shopping-bag{
	position:relative;
	background: url('../images/new/shopping-bag.png') left no-repeat;
	width:21px;
	height:22px;
	color: #4A4A4A;
	font-family: Montserrat-Bold;
	font-size: 10px;
	line-height: 28px;
	text-align: center;
	padding-right:5px;
}
#our-product{
	width: 282px;
	height: 70px;
	padding:0 30px;
	font-family: Montserrat-Light;
	font-size: 20px;
	line-height:70px;
	background-color: #4A4A4A;
	position:absolute;
	bottom:0px;
	border-top: solid 12px #4A4A4A;
}
#after-out-product{
	width:30px;
	height:70px;
	background-color: #E8E8E8;
	position: absolute;
	bottom:0px;
	left:342px;
}
/* left container*/
#leftcontainer-bg{
	width:342px;
	border-left: solid 30px #EFEFEF;
	float:left;
	background-color: #E8E8E8;
}
#left-menu-line{
	width: 289px;
	margin:18px 0px 18px 22px;
	border-bottom: 1px solid #9B9B9B;
}
#left-cart{
	position:absolute;
	bottom: 0px;
	left:4%;
}
/* footer */
#footet-contact-last{
	padding-right: 0px !important;
}
#footet-contact{
	max-width:834px;
	margin:0 auto;
	height: 110px;
	border-bottom: 1px solid #979797;
}
#footet-contact div{
	float:left;
	/*vertical-align: bottom;*/
	padding: 42px 0;
}
#footet-contact img{
	height:24px;
	padding-right: 10px;
	position:relative;
	top: 3px;
}
#footet-contact span{
	padding-right: 34px;
	font-family: Montserrat;
	font-size: 14px;
	color: #EFEFEF;
}
.footer-ads{
	position:relative;
	top:-40px;
}
@media(max-width:1439px){
	#hand{
		width:45px;
		height:auto;
	}
}