/* common */
@font-face {
    font-family: 'Montserrat';
    src: url('font/montserrat/Montserrat-Regular.otf');
}
@font-face {
    font-family: 'Montserrat-UltraLight';
    src: url('font/montserrat/Montserrat-UltraLight.otf');
}
@font-face {
    font-family: 'Montserrat-Bold';
    src: url('font/montserrat/Montserrat-Bold.otf');
}
@font-face {
    font-family: 'Montserrat-Light';
    src: url('font/montserrat/Montserrat-Light.otf');
}
@font-face {
    font-family: 'Montserrat-Black';
    src: url('font/montserrat/Montserrat-Black.otf');
}
.blue{
	color:#4ABDAC;
}
.bgblue{
	background-color:#4ABDAC;
}
.hvr-underline-from-left{
	display:inline-block;
	vertical-align:middle;
	-webkit-transform:perspective(1px) translateZ(0);
	transform:perspective(1px) translateZ(0);
	box-shadow:0 0 1px transparent;
	position:relative;
	overflow:hidden
}
.hvr-underline-from-left:before{
	content:"";
	position:absolute;
	z-index:-1;
	left:0;
	right:100%;
	bottom:0;
	background:#FFF;
	height:3px;
	-webkit-transition-property:right;
	transition-property:right;
	-webkit-transition-duration:.3s;transition-duration:.3s;
	-webkit-transition-timing-function:ease-out;
	transition-timing-function:ease-out
}
.hvr-underline-from-left:active:before,
.hvr-underline-from-left:focus:before,
.hvr-underline-from-left:hover:before{
	right:0
}
.hvr-underline-from-left-orange{
	display:inline-block;
	vertical-align:middle;
	-webkit-transform:perspective(1px) translateZ(0);
	transform:perspective(1px) translateZ(0);
	box-shadow:0 0 1px transparent;
	position:relative;
	overflow:hidden
}
.hvr-underline-from-left-orange:before{
	content:"";
	position:absolute;
	z-index:-1;
	left:0;
	right:100%;
	bottom:0;
	background:#FC4A1A;
	height:2px;
	-webkit-transition-property:right;
	transition-property:right;
	-webkit-transition-duration:.3s;transition-duration:.3s;
	-webkit-transition-timing-function:ease-out;
	transition-timing-function:ease-out
}
.hvr-underline-from-left-orange:active:before,
.hvr-underline-from-left-orange:focus:before,
.hvr-underline-from-left-orange:hover:before{
	right:0
}
.hvr-underline-from-left-blue{
	display:inline-block;
	vertical-align:middle;
	-webkit-transform:perspective(1px) translateZ(0);
	transform:perspective(1px) translateZ(0);
	box-shadow:0 0 1px transparent;
	position:relative;
	overflow:hidden
}
.hvr-underline-from-left-blue:before{
	content:"";
	position:absolute;
	z-index:-1;
	left:0;
	right:100%;
	bottom:0;
	background:#4ABDAC;
	height:2px;
	-webkit-transition-property:right;
	transition-property:right;
	-webkit-transition-duration:.3s;transition-duration:.3s;
	-webkit-transition-timing-function:ease-out;
	transition-timing-function:ease-out
}
.hvr-underline-from-left-blue:active:before,
.hvr-underline-from-left-blue:focus:before,
.hvr-underline-from-left-blue:hover:before{
	right:0
}
@keyframes float{
	0% {transform: translate(0, 0px); }
    40% {transform: translate(0, 10px); }
    50% {transform: translate(0, 10px); }
    90% {transform: translate(0, 0px); }
    100% {transform: translate(0, 0px); }
}
@keyframes move1{
	0% {transform: translate(0, 0px); }
    40% {transform: translate(-30px, 0px); }
    50% {transform: translate(-30px, 0px); }
    90% {transform: translate(0px, 0px); }
    100% {transform: translate(0, 0px); }
}
.floatleft{
	float:left;
}

/* header */
#window,
#hand,
#header-logo,
.cloud-big,
.cloud-mid,
.cloud-sml{
	position:absolute;
}
#window{
	right:0;
	bottom:0;
	z-index:3;
}
#hand{
	left:4%;
	top:5%;
}
.cloud-big{
	width:189px;
	height:94px;
}
.cloud-mid{
	width:145px;
	height:73px;
}
.cloud-sml{
	width:105px;
	height:54px;
}
#header-container{
	position:relative;
	overflow: hidden;
}
#cloud-header-1{
	-webkit-animation:move1 15s infinite ease-in-out;
	top:45px;
	left:94%;
}
#cloud-header-2{
	-webkit-animation:float 7s infinite ease-in-out;
	top:34px;
	left:58%;
}
#cloud-header-3{
	-webkit-animation:move1 10s infinite ease-in-out;
	top:185px;
	left:39%;
	z-index:30;
}
#header-logo{
	top:calc(50% - 71px);
	left:30px;
	z-index:99;
}
#loginblock{
	position: absolute;
	top: 27px;
	right: 30px;
	color: #FFF;
}
#loginblock a{
	margin:0 8px;
	padding: 5px 0;
	color: #FFF;
	text-decoration: none;
	font-family: Montserrat-Light;
	font-size: 16px;
	line-height: 24px;
}
#shopping-bag{
	position:relative;
	background: url('../images/new/shopping-bag.png') left no-repeat;
	width:21px;
	height:22px;
	color: #4A4A4A;
	font-family: Montserrat-Bold;
	font-size: 10px;
	line-height: 28px;
	text-align: center;
	padding-right:5px;
}
#our-product-2,
#our-product{
	width: 282px;
	height: 70px;
	padding:0 30px;
	font-family: Montserrat-Light;
	font-size: 20px;
	line-height:70px;
	background-color: #4A4A4A;
	position:absolute;
	bottom:0px;
	border-top: solid 12px #4A4A4A;
	z-index: 10;
}
#our-product-2{
	display: none;
}
#after-out-product{
	width:30px;
	height:70px;
	background-color: #E8E8E8;
	position: absolute;
	bottom:0px;
	left:342px;
	z-index: 4;
}
#search-icon{
	position:absolute;
	bottom: 23px;
	left:295px;
	cursor: pointer;
	z-index: 15;
}

#box{
  position: absolute;
  bottom: -21px;
  left: 371px;
  cursor: pointer;
  background-color: #4A4A4A;
  width:47px;
  height:47px;
}

#search-icon2{
	position:relative;
  left:12px;
  top:12px;

}

#search-div{
	transition: all .5s ease-in-out;
	position:absolute;
	bottom: 0px;
	left:78px;
	width:224px;
	height:30px;
	padding:20px;
	background-color: #656365;
	z-index:5;
}
#search-div input{
	width:100%;
	height:30px;
	background-color: #656365;
	color: #fff;
	border-width: 0 0 1px 0;
	border-color: #fff;
	font-family: Montserrat-Ultralight;
	font-size: 14px;
}
#search-div input:focus{
	outline:none;
}
#search-div input::-webkit-input-placeholder{
	color:#fff;
	letter-spacing: 1.5px;
}
/* left container*/
#leftcontainer-bg{
	width:342px;
	border-left: solid 30px #EFEFEF;
	float:left;
	background: linear-gradient(to bottom, #E8E8E8, #EFEFEF);
}
#left-menu-line{
	width: 289px;
	margin:18px 0px 18px 22px;
	border-bottom: 1px solid #9B9B9B;
}
#left-cart{
	position:absolute;
	top: -127px;
	left:3%;
}
/* footer */
#footet-contact-last{
	padding-right: 0px !important;
}
#footet-contact{
	max-width:834px;
	margin:0 auto;
	height: 110px;
	border-bottom: 1px solid #979797;
}
#footet-contact div{
	float:left;
	padding: 42px 0;
}
#footet-contact img{
	height:24px;
	padding-right: 10px;
	position:relative;
	top: 3px;
}
#footet-contact span{
	padding-right: 34px;
	font-family: Montserrat;
	font-size: 14px;
	color: #EFEFEF;
}
#footet-contact span:hover{
	color:#4ABDAC;
}
.footer-ads{
	position:relative;
	top:-40px;
}
/* login and register  */
.login-tab{
	width:296px;
	height:107px;
	float:left;
	font-size: 24px;
	line-height: 107px;
	text-align: center;
}
.login-tab-active{
	color: #4ABDAC;
}
.login-tab-inactive{
	color: #fff;
	background-color: #E8E8E8;
}
.login-logo{
	position: absolute;
	top:14px;
}
.login-div{
	position: relative;
	text-align: center;
	margin:50px auto;
}
#login-eye{
	position: absolute;
	top:19px;
	margin-left:-40px;
}
#forget-password{
	text-align: center;
	margin-top:15px;
}
#forget-password a{
	font-family: Montserrat-Ultralight;
	font-size: 14px;
	color:#4A4A4A;
	letter-spacing: .6px;
	text-decoration: none;
}
#forget-password a:hover{
	color: #4ABDAC;
}
.notification-p{
	font-size: 14px;
	text-align: center;
	line-height: 20px;
}
.notification-p a{
	color:#4ABDAC;
}
/* shoppong cart*/
#cart{
	padding: 0 30px;
}
.cart-title{
	font-size: 14px;
	font-family: Montserrat;
	margin-bottom: 5px;
}
.cart-des{
	font-family: Montserrat-Light;
	font-size: 12px;
	position: relative;
	top:5px;
}
.cart-delete{
	height:22px;
	width:82px;
	border:1px solid #4A4A4A;
	position:absolute;
	bottom: 20px;
	right:0px;
	color:#4A4A4A;
	line-height: 22px;
	text-align: center;
	transition: all .3s linear;
	font-size: 12px;
}
#cart-tb{
	width:533px;
}
#cart-summary{
	width:178px;
	height:270px;
	background-color: #E8E8E8;
	padding:10px 15px 10px 15px;
	margin-left:548px;
	position: relative;
}
#summary-title{
	border-bottom: 1px solid #4A4A4A;
	line-height: 32px;
}
#shopping-checkout,
#shopping-browse{
	border: 1px solid;
	font-family: Montserrat;
	text-align: center;
	font-size: 18px;
	position: absolute;
	font-weight: normal;
	transition: all .2s linear;
}
#shopping-browse{
	width:172px;
	height:30px;
	border-color: #4A4A4A;
	color:#4A4A4A;
	bottom:52px;
	left:16px;
	line-height: 28px;
}
#shopping-browse:hover{
	border-color:#4ABDAC;
	color:#4ABDAC;
}
#shopping-checkout{
	height:32px;
	width:174px;
	line-height: 28px;
	background-color: #4A4A4A;
	border-color: #4A4A4A;
	color:#FFF;
	bottom:10px;
	left:15px;
}
#shopping-checkout:hover{
	background-color: #4ABDAC;
	border-color: #4ABDAC;
}
#checkout-lock{
	position:relative;
	top: 3px;
}
#edit-cart-form{
	position: absolute;
	top:1060px;
	left:calc(50% - 175px);
}
#place-order,
#edit-cart-form input{
	transition: all 0.2s linear;
	background-color: #fff;
	color:#4ABDAC;
	border:1px solid #4ABDAC;
}
#edit-cart-form input:hover{
	color:#fff;
	background-color: #4A4A4A;
	border-color: #4A4A4A;
}
#place-order{
	position: absolute;
	top:1060px;
	left:calc(50% + 15px);
}
#place-order:hover{
	color:#fff;
	background-color: #4ABDAC;
	border-color: #4ABDAC;
}
/* product - subpage*/
#subpage-tb{
	margin:0 auto;
	/*padding:10px;*/
    -webkit-border-horizontal-spacing: 20px;
    -webkit-border-vertical-spacing: 20px;
}
#product{
	overflow: hidden;
	padding:10px 10px 30px 10px;
}
.productdisplaystock{
	border-top: 1px solid #4A4A4A;
	border-bottom: 1px solid #4A4A4A;
	padding:10px 0;
}
.productstock{
	font-weight: lighter;
	font-size: 12px;
	line-height: 36px;
}
.productdisplayDesTtl{
	color:#4A4A4A;
	line-height: 18px;
	font-size:12px;
}
.productdisplaylink>a>img{
	padding-right:10px;
}
#productdisplaydes{
	max-height: 200px;
	text-overflow: ellipsis;
	overflow: auto;
	display: block;
}
#productwin > div.drag-handle > div > img:nth-child(1){
	display:none;
}
.sub-div-img{
	height:182px;
	width: 182px;
	/*overflow: hidden;*/
	margin-bottom: 34px;
}
.cartnote-out{
	color:#4A4A4A;
	/*text-transform: uppercase;*/
	font-size: 10px;
}
.add-to-cart-shopping-bag{
	width:20px;
	height: 20px;
	background-image: url('/images/new/shopping-bag-black.png');
	background-repeat: no-repeat;
	background-position: center;
}
.add-to-cart-shopping-bag:hover{
	background-image: url('/images/new/shopping-bag-blue.png');
}
.prod-price{
	text-transform: lowercase;
	color: #4A4A4A;
}
.prod-sale{
	text-transform: lowercase;
	color: #FC4A1A;
}
.prod-was{
	text-transform: lowercase;
	text-decoration: line-through;
	color: #9B9B9B;
	/*padding-left:5px;*/
	font-size: 14px;
}
.sale-div,
.new-div{
	width:100%;
	height:30px;
	position: absolute;
	bottom: 103px;
	background-color: #4A4A4A;
	text-align: center;
	font-size: 14px;
	line-height: 30px;
}
.sale-div{
	color: #FC4A1A;
}
.new-div{
	color: #4ABDAC;
}
.laypage{
	text-align: right;
	border-top: 1px solid #4A4A4A;
	border-bottom: 1px solid #4A4A4A;
	height: 50px;
	margin: 0 10px;
}
#product>form{
    overflow: hidden;
    padding: 50px 0;
}
.laypage_main img{
	padding-top: 6px;
}
/* search result*/
#we_are_sorry{
  font-size: 16px;
  color: #FC4A1A;
  font-family: Montserrat-Light;
  padding-bottom: 20px;
}

#search_tip_content{
  font-size: 12px;
  color: #4A4A4A;
  padding-top: 20px;
}

#try_new_search{
  position: relative;
  bottom: -36px;
  font-size: 12px;
  color: #4A4A4A;
}
#bottom_stuff{
  position: absolute;
  width: inherit;
}
#search_tip_content li{
  padding-bottom: 5px;
}
#forget-search input{
	position: relative;
	left: 49px;
	bottom:-21px;
	width:257px;
	height:44px;
	border-width: 1px;
	border-color: #4A4A4A;
  	background-color: transparent;
	font-family: Montserrat-Ultralight;
	font-size: 14px;
  	padding-left: 10px;
}

#forget-search input::-webkit-input-placeholder{
  color: #4A4A4A;
}
@media(max-width:1439px){
	#hand{
		width:45px;
		height:auto;
	}
}
@media(max-width:1199px){
	#hand{
		width:35px;
		height:auto;
	}
	#header{
		height: 280px;
	}
	#header-logo {
		width:204px;
		height:93px;
	    top: calc(50% - 46px);
	}
	#window{
		width:400px;
		height: auto;
	}
	.cloud-big{
		width:145px;
		height:auto;
	}
	.cloud-mid{
		width:105px;
		height:auto;
	}
	.cloud-sml{
		width:75px;
		height:auto;
	}
	#menuh{
		top:100px;
	}
	#our-product-2,
	#our-product {
		height:58px;
		line-height: 58px;
		width:225px;
	}
	#after-out-product{
		height:58px;
		left:285px;
	}
	#search-div{
		height:20px;
		padding: 19px;
		left:21px;
	}
	#search-div input{
		height: 20px;

	}
	#search-icon{
		bottom: 16px;
		left:238px;
	}
	#wrapper{
		width: auto;
	}
	#leftcontainer ul li a:link, #leftcontainer ul li a:visited{
		font-size: 14px;
	}
	#leftcontainer-bg{
		width: 300px;
		border-left: solid 15px #EFEFEF;
	}
	#left-menu-line{
		width:250px;
	}
	#middle{
		margin-left:315px;
	}
	#loginblock{
		top:10px;
	}
	#loginblock a{
		font-size: 14px;
	}
	p{
		font-size: 14px;
	}
	#menuh a:link, #menuh a:visited{
		font-size: 16px;
	}
/*	#subpage-tb tbody,
	#subpage-tb tr,
	#subpage-tb,
	#subpage-tb td{
		display: block;
		float: left;
		margin:10px;
	}*/
	.sub-div-img{
		width:140px;
		height:140px;
	}
	#cart-tb {
	    width: 460px;
	}
	#cart{
		padding: 0 10px;
	}
	#cart-summary{
		margin-left: 470px;
		width:150px;
	}
	#cart td{
    	padding: 10px 0px 10px 0px;
	}
	#shopping-browse{
		width:147px;
	}
	#shopping-checkout{
		width:149px;
	}
}
@media(max-width: 991px){
	.productitem{
		width: calc(33% - 20px);
	}
	#leftcontainer-bg{
		position: absolute;
		transition: all .3s linear;
		z-index: 20;
	}
	.leftcontainer-hide{
		opacity: 0;
		visibility: hidden;
	}
	.leftcontainer-show{
		opacity: 1;
		visibility: visible;
	}
	#middle{
		margin-left: 0px;
		margin-bottom: 200px;
		min-height: 400px;
	}
	#footet-contact span{
		font-size: 12px;
	}
	#footet-contact img{
		height:20px;
	}
	#footet-contact{
		max-width: 735px;
	}
	#pageheading{
		padding-bottom: 20px;
		padding-top: 10px;
	}
	#our-product-2{
		height: 45px;
		line-height: 45px;
		font-size: 16px;
	}
	#after-out-product{
		height: 45px
	}
	#search-div{
		padding:13px;
	}
	#search-div input{
		font-size:12px;
	
	}
	#search-icon{
		width: 20px;
		bottom:  12px;
	}
	#cart{
		padding:0 calc(50% - 320px);
	}
	#our-product{
		display: none;
	}
	#our-product-2{
		display: block;
	}
	.drag-contentarea{
		padding: 5px 15px 15px 15px;
	}
	.sub-div-img{
		width:168px;
		height:168px;
	}
}
/*@media(max-width: 767px){
	.productitem{
		width: calc(50% - 20px);
	}
}*/